#
# {{ansible_managed}}
#

lxc.include = /usr/share/lxc/config/common.conf
lxc.include = /etc/lxc/default.conf

# This configuration is required to handle a bug with
# exporting non-privileged containers using Packer
lxc.idmap = u 0 {{id_start}} {{uid|int - 1}}
lxc.idmap = u {{uid}} {{uid}} 1
lxc.idmap = u {{uid|int + 1}} {{id_start|int + uid|int}} {{id_num|int- uid|int}}

lxc.idmap = g 0 {{id_start}} {{uid|int - 1}}
lxc.idmap = g {{uid}} {{uid}} 1
lxc.idmap = g {{uid|int + 1}} {{id_start|int + uid|int}} {{id_num|int - uid|int}}

# TODO: What was this?
# Use a profile which allows nesting
# lxc.apparmor.profile = lxc-container-default-with-nesting
# lxc.apparmor.allow_nesting = 1

# Add uncovered mounts of proc and sys, else unprivileged users
# cannot remount those

lxc.mount.entry = proc dev/.lxc/proc proc create=dir,optional 0 0
lxc.mount.entry = sys dev/.lxc/sys sysfs create=dir,optional 0 0

